<% content_for :head do %>
  <script type="text/javascript">
    $(document).on('ready',function(){
      initTypeahead('/companies/typeahead', '/companies/');
    });
  </script>
<% end %>

<h1>Aziende</h1>

<div class="form-group">
  <div class="input-group">
    <%= form_tag companies_path, :method => "get" do |f| %>
      <%= text_field_tag :query, nil, class: 'typeahead form-control', autocomplete: 'off' %>
    <% end %>
    <span class="input-group-btn">
      <%= button_tag type: "submit", class: "btn btn-primary" do %>
          <i class="fa fa-search"></i>
      <% end %>
      <%= link_to companies_path, class: "btn btn-default", style: "background-color: #E0E0E0" do %>
        <i class="fa fa-refresh"></i>
    <% end %>
    </span>
  </div>
</div>

<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Sede</th>
      <th>Ambito</th>
      <th># Dipendenti</th>
      <th>Sito Web</th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= link_to page.name, page %></td>
        <td><%= page.location %></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>
