<div class="event" %>
  <% events.each do |event| %>
    <% if event_type == :upcoming %>
      <tr id="upcoming" class="table-success">
    <% elsif event_type == :future %>
      <tr id="future" class="table-info">
    <% elsif event_type == :old%>
      <tr id="old" class="table-warning">
    <% end %>

    <td class="col-xs"><%= event.name %></td>
    <td class="col-xs"><%= event.starts_at.strftime("%Y-%m-%d %H:%M %Z") %></td>
    <td class="col-xs"><%= event.location_name %></td>
    <td class="col-xs">
      <%= link_to 'https://www.facebook.com/events/' + event.uid, :target => "_blank" do %>
        <i class="fa fa-calendar" ></i>
      <% end %>
      <%= link_to "#", data: {toggle: "modal", target: '#' + event.uid} do %>
        <i class="fa fa-plus" ></i>
      <% end %>
    </td>
  </tr>

  <div class="modal fade" id=<%= event.uid %> tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel"><%= event.name %></h4>
        </div>
        <div class="modal-body">
          <%= markdown(event.content) %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
