<table id="table-events" class="table table-hover table-sm">
  <thead class="thead-inverse">
    <tr>
      <th class="col-xs">Evento</th>
      <th class="col-xs">Quando</th>
      <th class="col-xs">Dove</th>
      <th class="col-xs">Chi</th>
      <th class="col-xs"></th>
    </tr>
  </thead>

  <tbody>
    <div class="event">
      <% events.each do |event| %>
        <% if event_type == :future %>
          <tr id="future" class="table-success">
        <% elsif event_type == :old %>
          <tr id="old" class="table-warning">
        <% end %>

        <td class="col-xs">
          <%= link_to event.name, "#", { title: event.name, data: {toggle: "modal", target: '#' + event.uid}} %>
        </td>
        <% if event_type == :future %>
          <td class="col-xs"><%= l event.starts_at, format: :rfc822_short %> <br> <%= l event.ends_at, format: :rfc822_short %></td>
        <% elsif event_type == :old %>
          <td class="col-xs"><%= l event.starts_at, format: :rfc822 %></td>
        <% end %>

        <td class="col-xs"><%= event.location_name %></td>
        <td class="col-xs"><%= event.organiser %></td>
        <td class="col-xs">
          <%= link_to fa_icon("external-link"), event.external_link, :target => "_blank" %>
          <% if event_type == :future and event.coord %>
            <button coordinates-id=<%= event.coord %> style="border:none; background: none; padding: 0;"><i class="fa fa-map-marker"></i></button>
          <% end %>
        </td>
      </tr>

      <div class="modal fade" id=<%= event.uid %> tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <div class="col-xs-6 text-xs-left">
                <%= link_to event.external_link, :target => "_blank" do %>
                  <strong><i class="fa fa-calendar"></i>&nbsp;<%= event.name %></strong>
                <% end %>
              </div>
              <div class="col-xs-6 text-xs-right">
                <small style="color:black;"><%= l event.starts_at, format: :long %> - <%= l event.ends_at, format: :long %></small>
              </div>
            </div>
            <div class="modal-body">
              <%= markdown(event.content) %>
            </div>

            <div class="modal-footer">
              <div class="col-xs-6 text-xs-left">
                  <small style="color:black;">Organizzato da: <strong><%= event.organiser %></strong></small>
              </div>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <% end #events each %>
    </div>
  </tbody>
</table>

<script>
  $( "button[coordinates-id]" ).click(function() {
    var coordinates = $(this).attr('coordinates-id');
    coordinates = coordinates.split(',');
    
    mymap.setView(new L.LatLng(coordinates[0], coordinates[1]), 13);
  });
</script>
