<!-- SEARCH COMPONENT -->
<% content_for :search do %>
 <%= form_tag events_path, :method => "get" do |f| %>
    <div class="form-group">
      <div class="input-group">
          <%= text_field_tag :query, nil, class: 'typeahead form-control', autocomplete: 'off' %>
          <span class="input-group-btn">
            <%= button_tag type: "submit", class: "btn btn-primary" do %>
                <i class="fa fa-search"></i>
            <% end %>
          </span>
      </div>
    </div>
  <% end %>
<% end %>
<script>
$(document).ready(function(){
  initTypeahead('/events/typeahead', '/events/');
});
</script>

<div class="row">
  <div class="col-sm-offset-4 col-sm-4 text-center">
  <div class="btn-group" role="group" aria-label="Basic example">
    <a class="btn btn-success" href="#upcoming">Upcoming</a>
    <a class="btn btn-info" href="#future">Future</a>
    <a class="btn btn-warning" href="#old">Old</a>
  </div>
  </div>
</div>
<br><br>
<table class="table table-hover table-condensed">
  <thead class="thead-inverse">
    <tr>
      <th class="col-xs-6">Evento</th>
      <th class="col-xs-2">Data</th>
      <th class="col-xs-3">Location</th>
      <th class="col-xs-1">Link</th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: "table", locals: {events: @upcoming, type: :upcoming} %>
    <%= render partial: "table", locals: {events: @future, type: :future} %>
    <%= render partial: "table", locals: {events: @old, type: :old} %>
  </tbody>
</table>
