<!-- SEARCH COMPONENT -->
<% content_for :search do %>
 <%= form_tag events_path, :method => "get" do |f| %>
    <div class="form-group">
      <div class="input-group">
          <%= text_field_tag :query, nil, class: 'typeahead form-control', autocomplete: 'off' %>
          <span class="input-group-btn">
            <%= button_tag type: "submit", class: "btn btn-primary" do %>
                <i class="fa fa-search"></i>
            <% end %>
            <%= link_to events_path, class: "btn btn-default", style: "background-color: #E0E0E0" do %>
              <i class="fa fa-refresh"></i>
            <% end %>
          </span>
      </div>
    </div>
  <% end %>
<% end %>

<style>
  #mapid { height: 450px; width: 800px; }
</style>

<div class="row">
  <div class="col-sm-offset-2 col-sm-1 text-center">
    <div id="mapid" class="map"
    data-intro="This map shows you the events of today (in red) and all future events (blue).
    You can click on the markers to see more about an event"></div>
  </div>
</div>

<br>

<p>
  <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#collapseUpcoming" aria-expanded="false" aria-controls="collapseUpcoming">
    Upcoming
  </button>
  <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapseFuture" aria-expanded="false" aria-controls="collapseFuture">
    Future
  </button>
  <button class="btn btn-warning" type="button" data-toggle="collapse" data-target="#collapseOld" aria-expanded="false" aria-controls="collapseOld">
    Old
  </button>
  <%= link_to events_path, class: "btn btn-default", style: "background-color: #E0E0E0" do %>
    <i class="fa fa-refresh"></i>
  <% end %>
</p>

<div class="collapse" id="collapseUpcoming">
  <%= render partial: "table", locals: {events: @upcoming, event_type: :upcoming} %>
  <%= will_paginate @upcoming, param_name: :upcoming_page %>
</div>
<div class="collapse" id="collapseFuture">
  <%= render partial: "table", locals: {events: @future, event_type: :future} %>
  <%= will_paginate @future, param_name: :future_page %>
</div>
<div class="collapse" id="collapseOld">
  <%= render partial: "table", locals: {events: @old, event_type: :old} %>
  <%= will_paginate @old, param_name: :old_page %>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    initTypeahead('/events/typeahead', '/events/');
  });

</script>

<script type="text/javascript">
  // Coordinates of Sicily
  var mymap = L.map('mapid').setView([37.5579, 14.1368], 8);

  var OpenStreetMap_DE = L.tileLayer('http://{s}.tile.openstreetmap.de/tiles/osmde/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(mymap);

  $.get("/events/locations", function(data){
        for (var i in data) {
          var coordinates = data[i].coordinates.split(',');
          var options = {}

          var todayMarker = L.AwesomeMarkers.icon({
            icon: 'star',
            markerColor: 'green',
            prefix: 'fa',
            spin:true});

          var futureMarker = L.AwesomeMarkers.icon({
            icon: 'star-o',
            markerColor: 'blue',
            prefix: 'fa',
            spin:false});

          if (data[i].isToday == true) {
            options = {icon: todayMarker}
          } else {
            options = {icon: futureMarker}
          }

          L.marker([coordinates[0], coordinates[1]], options)
            .bindPopup(data[i].name +
              ' <a href="#" data-toggle="modal" data-target="#'
              + data[i].uid 
              + '"> <i class="fa fa-expand" ></i></a>')
            .addTo(mymap);
        }
    });
</script>
