<!-- SEARCH COMPONENT -->
<% content_for :search do %>
 <%= form_tag events_path, :method => "get" do |f| %>
    <div class="form-group">
      <div class="input-group">
          <%= text_field_tag :query, nil, class: 'typeahead form-control', autocomplete: 'off' %>
          <span class="input-group-btn">
            <%= button_tag type: "submit", class: "btn btn-primary" do %>
                <i class="fa fa-search"></i>
            <% end %>
            <%= link_to events_path, class: "btn btn-default", style: "background-color: #E0E0E0" do %>
              <i class="fa fa-refresh"></i>
            <% end %>
          </span>
      </div>
    </div>
  <% end %>
<% end %>

<script>
  $(document).ready(function(){
    initTypeahead('/events/typeahead', '/events/');    
  });

</script>

<div id="mapid"></div>

<br>

<table id="table-events" class="table table-hover table-condensed">
  <thead class="thead-inverse">
    <tr>
      <th class="col-xs">Evento</th>
      <th class="col-xs">Date</th>
      <th class="col-xs">Location</th>
      <th class="col-xs">Link</th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: "table", locals: {events: @upcoming, event_type: :upcoming} %>
    <%= render partial: "table", locals: {events: @future, event_type: :future} %>
    <%= render partial: "table", locals: {events: @old, event_type: :old} %>
  </tbody>
</table>
