<!-- Must include datatables explicitly for bootstrap 4 - gems not available yet -->
<%= javascript_include_tag "https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js" %>
<%= javascript_include_tag "https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap4.min.js" %>

<!-- SEARCH COMPONENT -->
<% content_for :search do %>
 <%= form_tag events_path, :method => "get" do |f| %>
    <div class="form-group">
      <div class="input-group">
          <%= text_field_tag :query, nil, class: 'typeahead form-control', autocomplete: 'off' %>
          <span class="input-group-btn">
            <%= button_tag type: "submit", class: "btn btn-primary" do %>
                <i class="fa fa-search"></i>
            <% end %>
          </span>
      </div>
    </div>
  <% end %>
<% end %>
<script>
  $(document).ready(function(){
    initTypeahead('/events/typeahead', '/events/');
  });

  $(document).ready(function() {
      $('#table-events').DataTable({
        ordering:  false,
        autoWidth: false,
        "language": { "search": "Advanced Search: "}
      });
  } );
</script>

<table id="table-events" class="table table-hover table-condensed">
  <thead class="thead-inverse">
    <tr>
      <th class="col-xs">Evento</th>
      <th class="col-xs">Data</th>
      <th class="col-xs">Location</th>
      <th class="col-xs">Link</th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: "table", locals: {events: @upcoming, type: :upcoming} %>
    <%= render partial: "table", locals: {events: @future, type: :future} %>
    <%= render partial: "table", locals: {events: @old, type: :old} %>
  </tbody>
</table>
