<!-- SEARCH COMPONENT -->
<% content_for :search do %>
 <%= form_tag events_path, :method => "get" do |f| %>
    <div class="form-group">
      <div class="input-group">
          <%= text_field_tag :query, nil, class: 'typeahead form-control', autocomplete: 'off' %>
          <span class="input-group-btn">
            <%= button_tag type: "submit", class: "btn btn-primary" do %>
                <i class="fa fa-search"></i>
            <% end %>
            <%= link_to events_path, class: "btn btn-default", style: "background-color: #E0E0E0" do %>
              <i class="fa fa-refresh"></i>
            <% end %>
          </span>
      </div>
    </div>
  <% end %>
<% end %>


<script type="text/javascript">
  $(document).ready(function(){
    initTypeahead('/events/typeahead', '/events/');    
  });

</script>

<style>
  #mapid { height: 450px; width: 800px; }
</style>

<div class="row">
  <div class="col-sm-offset-2 col-sm-1 text-center">
  <div id="mapid" class="map"></div>
</div>

<br><br>

<table id="table-events" class="table table-hover table-condensed">
  <thead class="thead-inverse">
    <tr>
      <th class="col-xs">Evento</th>
      <th class="col-xs">Date</th>
      <th class="col-xs">Location</th>
      <th class="col-xs">Link</th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: "table", locals: {events: @upcoming, event_type: :upcoming} %>
    <%= render partial: "table", locals: {events: @future, event_type: :future} %>
    <%= render partial: "table", locals: {events: @old, event_type: :old} %>
  </tbody>
</table>

<script type="text/javascript">
  // Coordinates of Sicily
  var mymap = L.map('mapid').setView([37.5579, 14.1368], 8);

  var OpenStreetMap_DE = L.tileLayer('http://{s}.tile.openstreetmap.de/tiles/osmde/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(mymap);
  
  $.get("/events/locations", function(data){
        for (var i in data) {
          var coordinates = data[i].coordinates.split(',');
          L.marker([coordinates[0], coordinates[1]])
            .bindPopup(data[i].name + 
              ' <a href="#" data-toggle="modal" data-target="#' 
              + data[i].uid + '"> <i class="fa fa-plus" ></i></a>')
            .addTo(mymap);
        }
    });
</script>
