<%= form_for(@page) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-2">
      <div class="field">
        <%= f.select :kind, Page.kinds.keys.to_a, {}, {class: "form-control"} %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="field">
        <%= f.text_field :name , class: "form-control", placeholder: 'Nome' %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="field">
        <%= f.text_field :location , class: "form-control", placeholder: 'Località' %>
      </div>
    </div>
    <div class="col-md-2">
      Dipendenti
    </div>
    <div class="col-md-2">
      <div class="field">        
          <%= f.select :no_employees, ['n/a', '1-10', '11-25', '26-50', '51-100', '101-1000', '1000+'], {}, {class: "form-control"} %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= f.label :links %><br>
    <%= f.text_field :links, class: "form-control" %>
  </div>
  <div class="field">
    Facebook Page (e.g. https://www.facebook.com/example/)<br>
    <%= f.text_field :fbpage, class: "form-control" %>
  </div>
  <div class="field">
    Twitter Page (e.g. @DevsCT)<br>
    <%= f.text_field :twitter_page, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label "Settore/Area" %><br>
    <%= f.text_field  :sector, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label "Descrizione" %><br>
    <%= f.text_area  :description, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label "Contatti" %><br>
    <%= f.text_area :contacts , class: "form-control" %>
  </div>
  
  <div class="field">
    <%= f.label "In cerca di" %><br>
    <%= f.text_area :lookingfor, class: "form-control" %>
  </div>
  <div class="actions">
    <%= button_tag(type: 'submit', class: "btn btn-success") do %>
      <i class="fa fa-save"></i> Save
    <% end %>
  </div>
<% end %>
<br>

<script>
  var fields = document.querySelectorAll('textarea');
  for (var i = 0; i < fields.length; ++i) {
    var item = fields[i];
    var simplemde = new SimpleMDE({ element: item, spellChecker: false });
  }

  $( "#page_kind" )
    .change(function () {
      var page_kind = $('#page_kind').find(":selected").text();
      if (page_kind === 'community') {
        $("#page_no_employees").prop("disabled", true);
        $("#page_no_employees").val($("#page_no_employees option:first").val());
      } else {
        $("#page_no_employees").prop("disabled", false);
      }
    })
    .change();

</script>
