<%= form_for(@page) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.select :kind, Page.kinds.keys.to_a %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name , class: "form-control"%>
  </div>
  <div class="field">
    <%= f.label "posizione" %><br>
    <%= f.text_field :location , class: "form-control"%>
  </div>
  <div class="field">
    <%= f.label :coordinates %><br>
    <%= f.text_field :coordinates, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :active %><br>
    <%= f.check_box :active, disabled: true %>
  </div>
  <div class="field">
    <%= f.label :links %><br>
    <%= f.text_field :links, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area  :description, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :contacts %><br>
    <%= f.text_area :contacts , class: "form-control"%>
  </div>
  <div class="field">
    <%= f.label "In cerca di" %><br>
    <%= f.text_area :lookingfor, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>
var fields = document.querySelectorAll('textarea');
for (var i = 0; i < fields.length; ++i) {
  var item = fields[i];
  var simplemde = new SimpleMDE({ element: item });
}
</script>
