<% content_for :scripts do %>
  <script type="text/javascript">
    $(document).on('ready',function(){
      initTypeahead('/communities/typeahead', '/communities/');
    });
  </script>
<% end %>

<div class="row">
  <div class="col-md-4">
    <h1>Community</h1>
  </div>
  <div class="col-md-2">
    <% if current_user %>
      <%= link_to new_me_page_path, class: "btn btn-success" do %>
        <i class="fa fa-plus"></i> Community
      <% end %>
    <% end %>
  </div>
  <div class="col-md-6">
    <%= render partial: "search_form", locals: {res_path: communities_path, placeholder: "Ricerca community"}  %>
  </div>
</div>

<table id="communities-table" class="table table-hover table-condensed">
  <thead>
    <tr>
      <th></th>
      <th>Nome</th>
      <th>Sede</th>
      <th>Provincia</th>
      <th>Ambito</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td width="50px">
            <% if page.pic %>
                <img src="<%= page.pic 50 %>" class="img-fluid img-rounded" style="width: 50px">
            <% else %>
                <i class="fa fa-institution" style="font-size: 50px"></i><br>
            <% end %>
        </td>
        <td><%= link_to page.name, page %></td>
        <td><%= page.location %></td>
        <td><%= page.province || "Altro" %></td>
        <td><%= page.sector %></td>
        <td>
          <% if page.website.present? %>
            <%= link_to page.website, target: "_blank", class: "btn btn-primary btn-sm" do %>
              <i class="fa fa-external-link"></i>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% content_for :scripts do %>
<script>
/* global $, initTypeahead */
$(function(){
  $("#communities-table").DataTable({
    autowidth: false,
    info: false,
    lengthChange: false,
    pageLength: 50,
    language: {
      "search": "Filtra:"
    },
    order: [1, "asc"],
    columnDefs: [
      { "orderable": false, searchable: false, "targets": [0,-1] }
    ],
    responsive: true
  });
})
</script>
<% end %>
