<p id="notice"><%= notice %></p>

<h1>Listing Pages</h1>

<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each do |page| %>
      <tr
        <% if page.kind.eql? 'community' %>
          class="table-success"
        <% else %>
          class="table-info"
        <% end %>
      >
        <td><%= page.name %></td>
        <td><%= page.kind %></td>
        <td>
          <% if page.active == true %>
            <i class="fa fa-plus"></i>
          <% else %>
            <i class="fa fa-minus"></i>
          <% end %>
        </td>
        <td>
          <%= button_to "Show", page,
                class: "btn btn-success" %>
        </td>
        <td>
          <%= button_to "Edit", edit_page_path(page),
                class: "btn btn-info" %>
        </td>
        <td>
          <%= button_to "Delete", page,
              class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Page', new_page_path %>
