<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/it_IT/sdk.js#xfbml=1&version=v2.8&appId=<%= ENV['ISAMUNI_APP_ID'] %>";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<% unless @page.active? %>
  <p class="text-danger">Questa pagina non è ancora attiva ed è visibile solo a te e gli admin della piattaforma. La pagina sarà attivata appena possibile.</p>
<% end %>

<div class="row">
  <% if @page.pic # Display the picture if available %>
    <div class="col-lg-1"><img src="<%= @page.pic %>" class="img-fluid img-rounded"></div>
    <div class="col-lg-7"><h2><%= @page.name %></h2></div>
  <% else %>
    <div class="col-lg-8"><h2><%= @page.name %></h2></div>
  <% end %>
  <div class="col-lg-4">
    <% if @page.community? %>
      Community <i class="fa fa-institution fa-lg"></i> 
    <% else %> 
      Azienda <i class="fa fa-industry fa-lg"></i> 
    <% end %>
  </div>
</div>
<br>

<div class="row">
  <div class="col-lg-8">
    <p><%= markdown(@page.description) %></p>
  </div>

  <div class="col-lg-4">
  <% if @page.fb_url or @page.twitter_url %>
    <ul class="nav nav-tabs">
      <% if @page.fb_url %>
        <li class=" nav-item"><a class="nav-link active" data-toggle="tab" href="#fb">Facebook</a></li>
      <% end %>

      <% if @page.twitter_url %>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#twitter">Twitter</a></li>
      <% end %>
    </ul>

    <div class="tab-content">
      <div id="fb" class="tab-pane active">
        <% if @page.fb_url %>
          <div class="fb-page" 
               data-href="<%= @page.fb_url %>" 
               data-tabs="timeline, events, messages" 
               data-small-header="true" 
               data-adapt-container-width="true" 
               data-hide-cover="false" 
               data-show-facepile="true">
          </div>
        <% end %>
      </div>
      <div id="twitter" class="tab-pane">
        <% if @page.twitter_url %>
          <a class="twitter-timeline" 
              data-lang="it" 
              href="<%= @page.twitter_url %>"
              data-height="600"
              data-aria-polite="assertive">
          </a> 
        <% end %>
      </div>
    </div>
  <% end %>

    <p>
    <h4>Contatti</h4>
    <p><%= markdown(@page.contacts) %></p>
    <h4>Links</h4>
    <p><%= markdown(@page.links) %></p>
    <h4>Sede</h4>
    <p style="word-wrap: break-word;"><%= @page.location %></p>
    <p style="word-wrap: break-word;"><%= @page.coordinates %></p>
  </div>
</div>

<% content_for :scripts do %>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<% end %>