<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/it_IT/sdk.js#xfbml=1&version=v2.8&appId=<%= ENV['ISAMUNI_APP_ID'] %>";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<% unless @page.active? %>
  <p class="text-danger">Questa pagina non è ancora attiva ed è visibile solo a te e gli admin della piattaforma. La pagina sarà attivata appena possibile.</p>
<% end %>

<div class="row">
  <div class="col-12 col-lg-8">
    <div class="row">
      <% if @page.pic %>
      <div class="col-lg-2">
        <img src="<%= @page.pic %>" class="img-fluid rounded">
      </div>
      <% end %>
      <div class="col-lg-10">
        <h2><%= @page.name %></h2>
        <p>
        <% if @page.sector? %>
            <%= if @page.community? then "Community" else "Azienda" end %> nell'ambito <strong><%= @page.sector %></strong><br>
        <% end %>
        <%= link_to @page.website, @page.website, :target => "_blank" if @page.website.present? %>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <p><%= markdown(@page.description) %></p>
        <% if @page.lookingfor.present? %>
          <h3>In cerca di</h3>
          <p><%= markdown(@page.lookingfor) %></p>
        <% end %>
        <hr>
      </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
          <h4>Contatti</h4>
          <p><%= markdown(@page.contacts) %></p>
        </div>
        <% if @page.links.present? %>
        <div class="col-lg-6">
          <h4>Links</h4>
          <p><%= markdown(@page.links) %></p>
        </div>
        <% end %>
        <div class="col-lg-6">
          <h4>Sede</h4>
          <p style="word-wrap: break-word;"><%= @page.location %></p>
          <p style="word-wrap: break-word;"><%= @page.coordinates %></p>
        </div>
      </div>
  </div>
  <div class="col-12 col-lg-4">
      <% if @page.fb_url or @page.twitter_url %>
        <ul class="nav nav-tabs">
          <% if @page.fb_url %>
            <li class=" nav-item">
              <a class="nav-link active" data-toggle="tab" href="#fb">Facebook</a>
            </li>
          <% end %>

          <% if @page.twitter_url %>
            <li class="nav-item">
              <% if !@page.fb_url %>
                <a class="nav-link active" data-toggle="tab" href="#twitter">Twitter</a>
              <% else %>
                <a class="nav-link" data-toggle="tab" href="#twitter">Twitter</a>
              <% end %>
            </li>
          <% end %>
        </ul>

        <div class="tab-content">
          <div id="fb" class="tab-pane active">
            <% if @page.fb_url %>
              <div class="fb-page"
                   data-href="<%= @page.fb_url %>"
                   data-tabs="timeline, events, messages"
                   data-small-header="true"
                   data-adapt-container-width="true"
                   data-hide-cover="false"
                   data-show-facepile="true">
              </div>
            <% end %>
          </div>
          <% if !@page.fb_url %>
            <div id="twitter" class="tab-pane active">
          <% else %>
            <div id="twitter" class="tab-pane">
          <% end %>
            <% if @page.twitter_url %>
              <a class="twitter-timeline"
                  data-lang="it"
                  href="<%= @page.twitter_url %>"
                  data-height="600"
                  data-chrome="nofooter noborders"
                  data-aria-polite="assertive">
              </a>
            <% end %>
          </div>
        </div>
      <% end %> <!-- end of social component -->

      <% unless @owners.blank? %>
      <br>
      <h3>Admin Pagina</h3>
      <table class="table table-hover table-sm">
          <tbody>
          <% @owners.each do |owner| %>
              <tr>
                  <td>
                      <%= link_to user_path(owner) do %>
                      <img src="<%= owner.profile_pic 25 %>" class="img-rounded">
                      <% end %>
                  </td>
                  <td><%= link_to owner.name, owner %></td>
              </tr>
          <% end %>
        </tbody>
      </table>
      <% end %>

      <br>
      <%= link_to edit_me_page_path(@page), class: "btn btn-info btn-sm" do %>
        <i class="fa fa-pencil"></i> Modifica pagina
      <% end %>
  </div> <!-- end of right page component -->

</div>

<% content_for :scripts do %>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<% end %>

<hr>

<div class="row">
  <div class="col-md-12">
	<%= link_to edit_me_page_path(@page) do %>
		<i class="fa fa-pencil"></i> Modifica pagina
  <% end if current_user %>
  </div>
</div>
