<p id="notice"><%= notice %></p>

<h2>
  <%= @page.name %>
</h2>

<div class="card">
  <div class="card-header">
    Links
  </div>
  <div class="card-block">
    <p class="card-text"><%= @page.links %></p>
  </div>
</div>

<div class="card">
  <div class="card-header">
    Descrizione
  </div>
  <div class="card-block">
    <p class="card-text"><%= markdown(@page.description) %></p>
  </div>
</div>

<div class="card">
  <div class="card-header">
    Contatti
  </div>
  <div class="card-block">
    <p class="card-text"><%= markdown(@page.contacts) %></p>
  </div>
</div>

<p>
  <strong>Coordinates:</strong>
  <%= @page.coordinates %>
</p>
