<% @posts.each_with_index do |post, index| %>
<div class="card" 
	<% if post.post_type == 'link' %>
		style="background-color: #FFEE58; border-color: #FDD835;"
	<% elsif post.post_type == 'photo' %>
		style="background-color: #FFCA28; border-color: #FFB300;"
	<% else %>
		style="background-color: #C5E1A5; border-color: #AED581;"
	<% end %>
	
	<% if index==0 %>
		data-intro="Questo è un post del gruppo PAC. Clicca sul post per saperne di più! Tutti i post sono verdi, eccetto i link (gialli) e le foto (arancioni)" data-position='right'
	<% end %>
>
	<%= render partial: "card", locals: {post: post} %>
</div>

<div class="modal fade" id=<%= post.uid %> tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<div class="col-xs-6 text-xs-left">
					<% if post.link.present? and (post.post_type.eql? 'link' or post.post_type.eql? 'event') %>
					<%= link_to post.link, :target => "_blank" do %>
						<% if post.post_type.eql? 'link' %>
							<i class="fa fa-link"></i>
						<% else %>
							<i class="fa fa-calendar"></i>
						<% end %>
					<% end %>
					<% else %>
						<% if post.post_type.eql? 'photo' %>
							<i class="fa fa-photo"></i>
						<% else %>
							<i class="fa fa-sticky-note-o"></i>
						<% end %>
					<% end %>
				</div>
				<div class="col-xs-6 text-xs-right">
					<% unless post.post_type.eql? 'event' %>
						<%= link_to 'https://www.facebook.com/' + post.uid, :target => "_blank" do %>
							<small style="color:black;"><u><%= l post.created_at, format: :long %></u></small>
						<% end %>
					<% end %>

					<% if post.post_type.eql? 'event' %>
						<small style="color:black;"><%= l post.created_at, format: :long %></small>
					<% end %>
					
				</div>
			</div>
  			<div class="modal-body">
				<%= markdown(post.content) %>

				<% if post.link != nil && post.picture != nil %>
					<a href=<%= post.link %> target="_blank">
						<%= image_tag(post.picture, alt: post.alt, class: "center-block img-fluid img-rounded") %>
					</a>
				<% elsif post.picture != nil %>
					<%= image_tag(post.picture, alt: post.alt, class: "center-block img-fluid img-rounded") %>
				<% end %>

			</div>
			<div class="modal-footer">
				<div class="col-xs-6 text-xs-left">
				<small style="color:black;">Postato da: <strong><%= post.author_name %></strong></small>
			</div>
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>


<% end %>
