<div class="d-none d-lg-block">
<a href="https://github.com/sic2/isamuni" target="_blank" >
  <img style="position: absolute; top: 0; right: 0; border: 0; z-index: 100000;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png">
</a>
</div>

<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="main-nav">
<div class="container">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapsingNavbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <%= link_to 'Isamuni', root_path, {class: "navbar-brand"} %>

  <div class="collapse navbar-collapse" id="collapsingNavbar">
    <ul class="navbar-nav mr-auto">
      <% if current_user %>
        <li class="nav-item">
          <%= link_to "/me", id: "user_area", class: 'nav-link' do %>
            <i class="fa fa-pencil-square-o"></i>&nbsp;<%= current_user.first_name %>
          <% end %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to login_path, id: "sign_in", class: 'nav-link' do %>
            <i class="fa fa-pencil-square-o"></i>&nbsp;Modifica
          <% end %>
        </li>
      <% end %>

      <li class="nav-item">
        <%= link_to users_path, title: 'Utenti', rel: 'tooltip', class: 'nav-link' do %>
          <i class="fa fa-users"></i>&nbsp;Utenti
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to communities_path, title: 'Comunità', rel: 'tooltip', class: 'nav-link' do %>
          <i class="fa fa-institution"></i>&nbsp;Community
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to companies_path, title: 'Aziende', rel: 'tooltip', class: 'nav-link' do %>
          <i class="fa fa-industry"></i>&nbsp;Aziende
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to feed_path, title: 'Feed', rel: 'tooltip', class: 'nav-link' do %>
          <i class="fa fa-rss-square"></i>&nbsp;Feed
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to events_path, title: 'Eventi', rel: 'tooltip', class: 'nav-link' do %>
          <i class="fa fa-calendar"></i>&nbsp;Eventi
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to wikipages_path, title: 'Wiki', rel: 'tooltip', class: 'nav-link' do %>
          <i class="fa fa-sticky-note"></i>&nbsp;Wiki
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to opendata_path, title: 'API', rel: 'tooltip', class: 'nav-link' do %>
          <i class="fa fa-cloud"></i>&nbsp;API
        <% end %>
      </li>
    </ul>
  </div>

</div>
</nav>
