<!DOCTYPE html>
<html>
<head>
  <title>Isamuni</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.min.js"></script>

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-providers/1.1.14/leaflet-providers.min.js"></script>

  <script type="text/javascript">

  // Load the Visualization API and the corechart package.
  google.charts.load('current', {
    'packages': ['corechart', 'controls']
  });
  </script>

  <%= yield :head %>
</head>
<body>
<!-- Do not display alerts by default
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
-->
<%= render partial: "layouts/navbar" %>

<div class="container" id="main-container">
  <%= yield %>
</div>
<br>
</body>
</html>
