<!DOCTYPE html>
<html>
<head>
  <title>Isamuni</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

  <%= csrf_meta_tags %>


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.min.js"></script>

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-providers/1.1.14/leaflet-providers.min.js"></script>

  <script type="text/javascript">

  // Load the Visualization API and the corechart package.
  google.charts.load('current', {
    'packages': ['corechart', 'controls']
  });
  </script>

  <%= yield :head %>
</head>
<body>
<!-- Do not display alerts by default
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
-->

<nav class="navbar navbar-fixed-top" style="background-color: #4DB6AC;">

<div class="container">
  <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
    &#9776;
  </button>
  <div class="collapse navbar-toggleable-xs" id="collapsingNavbar">
    <%= link_to 'Isamuni', home_index_path, {class: "navbar-brand"} %>
    <ul class="nav navbar-nav">
      <% if current_user %>
        <li class="nav-item btn-group">
          <a class="dropdown-toggle nav-link" type="button" id="dropdownMenuUser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuUser">
            <%= link_to current_user.first_name, edit_user_path, class: "dropdown-item" %>
            <%= link_to "Admin", admin_path, class: "dropdown-item" %>
            <%= link_to "Le mie pagine", pages_path, class: "dropdown-item" %>
            <%= link_to signout_path, id: "sign_out", class: "dropdown-item" do %>
              <i class="fa fa-sign-out"></i> Log Out
            <% end %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "/auth/facebook", id: "sign_in", class: 'nav-link', data: {intro:'Login with Facebook to join Isamuni and create a personal profile'} do %>
            <i class="fa fa-facebook"></i> Login
          <% end %>
        </li>
      <% end %>

      <li class="nav-item">
        <%= link_to users_path, title: 'Utenti', rel: 'tooltip', class: 'nav-link' do %>
          <i class="fa fa-users"></i>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to communities_path, title: 'Comunità', rel: 'tooltip', class: 'nav-link' do %>
          <i class="fa fa-institution"></i>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to companies_path, title: 'Aziende', rel: 'tooltip', class: 'nav-link' do %>
          <i class="fa fa-industry"></i>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to community_feed_path, title: 'Community Feed', rel: 'tooltip', class: 'nav-link' do %>
          <i class="fa fa-rss-square"></i>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to events_path, title: 'Eventi', rel: 'tooltip', class: 'nav-link' do %>
          <i class="fa fa-calendar"></i>
        <% end %>
      </li>
      <li class="nav-item">
        <a class='nav-link' title="Tour Me" href="javascript:void(0);" onclick="javascript:introJs().setOption('showStepNumbers', false).start();">
          <i class="fa fa-question-circle-o"></i>
        </a>
      </li>
    </ul>

    <a href="https://github.com/sic2/isamuni"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"></a>
  </div>
</div>
</nav>

<div class="container" id="main-container">
  <%= yield %>
</div>

</body>
</html>
