<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag 'logo.png' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Isamuni</title>

  <%= stylesheet_link_tag 'application', media: 'all' %>

  <meta charset="UTF-8">
  <meta name="description" content="Isamuni - Una panoramica sull'ambiente tech in Sicilia.
                                    Scopri studenti, professionisti, comunità, aziende ed eventi del settore tech.">
  <meta name="keywords" content="isamuni, sicilia, tecnologia, programmatori, social network, open source">

  <%= csrf_meta_tags %>
</head>
<body>
<%= render partial: "layouts/navbar" %>

<div class="container" id="main-container">
  <%= yield %>
</div>

<% #Javascript on the bottom for the time being, since turbolinks is disabled %>

<%= javascript_include_tag :application, integrity: true %>
<%= javascript_pack_tag 'application' %>
<%= stylesheet_pack_tag 'application' %>

<% #Leaflet (main source file is included in application js) %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-providers/1.1.14/leaflet-providers.min.js"></script>

<% # Scripts included from views %>
<%= content_for :scripts %>

<% # Analytics %>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-86302047-1', 'auto');
  ga('send', 'pageview');
</script>

<!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
<script type="text/javascript">
    window.cookieconsent_options = {"message":"This website uses cookies to ensure you get the best experience on our website","dismiss":"Got it!","learnMore":"More info","link":null,"theme":"dark-bottom"};
</script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.10/cookieconsent.min.js"></script>
<!-- End Cookie Consent plugin -->

</body>
</html>
