<!DOCTYPE html>
<html>
<head>
  <title>Isamuni</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Isamuni', home_index_path, {class: "navbar-brand"} %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to 'Users', users_path %>
        </li>
        <li>
          <%= link_to 'Aziende', pages_path %>
        </li>
        <li>
          <%= link_to 'Comunità', pages_path %>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <%= yield :search %>
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <% if current_user %>
            <%= link_to current_user.name.partition(" ").first, edit_user_path %>
          <% end %>
        </li>
        <li id="user_nav">
          <% if current_user %>
            <%= link_to signout_path, id: "sign_out" do %>
              <i class="glyphicon glyphicon-log-out"></i>
            <% end %>
          <% else %>
            <%= link_to "/auth/facebook", id: "sign_in" do %>
              <i class="fa fa-facebook"></i>
            <% end %>
          <% end %>
        </li>
      </ul>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">
  <%= yield %>
</div>
</body>
</html>
