<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag 'logo.png' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Isamuni</title>

  <%= stylesheet_link_tag 'application', media: 'all' %>
<%= csrf_meta_tags %>
  <meta charset="UTF-8">
  <meta name="description" content="Isamuni - Una panoramica sull'ambiente tech in Sicilia.
                                    Scopri studenti, professionisti, comunità, aziende ed eventi del settore tech.">
  <meta name="keywords" content="isamuni, sicilia, tecnologia, programmatori, social network, open source">

	<%= javascript_include_tag :application, integrity: true %>
	<%= javascript_pack_tag 'application' %>
	<%= stylesheet_pack_tag 'application' %>

  <% # Scripts included from views %>
  <%= content_for :scripts %>
</head>
<body>
<%= render partial: "layouts/navbar" %>

<div class="container" id="main-container">
	<div class="row">
		<div class="col-2 sidebar">
			<ul class="nav flex-column">
			  <% if current_user %>
			  	<li class="nav-item">
		            <%= link_to "Visualizza Profilo", user_path(current_user), class: "nav-link" %>
		        </li>
		        <li class="nav-item">
		            <%= link_to "Modifica Profilo", me_edit_user_path, class: "nav-link" %>
		        </li>
		        <li class="nav-item">
		        	<%= link_to "Le mie pagine", '/me/pages', class: "nav-link"  %>
		        </li>
		        <% if current_user != nil && current_user.is_admin? %>
		        <li class="nav-item">
		            <%= link_to "Pannello Admin", admin_path, class: "nav-link"  %>
						</li>
						<li class="nav-item">
                <%= link_to "Richieste ownwership", me_ownership_requests_path, class: "nav-link"  %>
            </li>
            <li class="nav-item">
                <%= link_to "Pannello CRUD", rails_admin.dashboard_path, class: "nav-link"  %>
            </li>
		        <% end %>
		        <li class="nav-item">
		        	<%= link_to signout_path, id: "sign_out", class: "nav-link" do %>
		              <i class="fa fa-sign-out"></i> Log Out
		            <% end %>
		        </li>
		      <% else %>
		        <li class="nav-item">
		          <%= link_to "/auth/facebook", id: "sign_in", class: 'nav-link', data: {intro:'Login with Facebook to join Isamuni and create a personal profile'} do %>
		            <i class="fa fa-facebook"></i> Login
		          <% end %>
		        </li>
		      <% end %>
		    </ul>
		</div>
		<div class="col-10 container">
				<% if flash[:notice] %>
				<div class="alert alert-info" role="alert"><%= flash[:notice] %></div>
				<% end %>
				
				<%= yield %>
		</div>
	</div>
</div>

<% # Analytics %>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-86302047-1', 'auto');
  ga('send', 'pageview');
</script>

<!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
<script type="text/javascript">
    window.cookieconsent_options = {"message":"This website uses cookies to ensure you get the best experience on our website","dismiss":"Got it!","learnMore":"More info","link":null,"theme":"dark-bottom"};
</script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.10/cookieconsent.min.js"></script>
<!-- End Cookie Consent plugin -->

</body>
</html>
