<!-- SEARCH COMPONENT -->
<% content_for :search do %>
 <%= form_tag communities_path, :method => "get" do |f| %>
    <div class="form-group">
      <div class="input-group">
          <%= text_field_tag :query, nil, class: 'typeahead form-control', autocomplete: 'off' %>
          <span class="input-group-btn">
            <%= button_tag type: "submit", class: "btn btn-primary" do %>
                <i class="fa fa-search"></i>
            <% end %>
            <%= link_to communities_path, class: "btn btn-default", style: "background-color: #E0E0E0" do %>
              <i class="fa fa-refresh"></i>
            <% end %>
          </span>
      </div>
    </div>
  <% end %>
<% end %>

<h1>Comunità</h1>

<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Sede</th>
      <th>Ambito</th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= link_to page.name, page %></td>
        <td><%= page.location %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
$(document).ready(function(){
  initTypeahead('/communities/typeahead', '/communities/');
});
</script>
