<!-- SEARCH COMPONENT -->
<% content_for :search do %>
 <%= form_tag communities_path, :method => "get" do |f| %>
    <div class="form-group">
      <div class="input-group">
          <%= text_field_tag :query, nil, class: 'typeahead form-control', autocomplete: 'off' %>
          <span class="input-group-btn">
            <%= button_tag type: "submit", class: "btn btn-primary" do %>
                <i class="fa fa-search"></i>
            <% end %>
          </span>
      </div>
    </div>
  <% end %>
<% end %>
<script>
$(document).ready(function(){
  initTypeahead('/communities/typeahead', '/communities/');
});
</script>
<p id="notice"><%= notice %></p>

<h1>Comunità</h1>

<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= link_to page.name, page %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Aggiungi la tua community', new_page_path %>
