<% content_for :scripts do %>
  <script type="text/javascript">
    $(document).on('ready',function(){
      initTypeahead('/communities/typeahead', '/communities/');
    });
  </script>
<% end %>

<div class="row">
  <div class="col-md-4">
    <h1 data-intro="Scopri le community tech Siciliane. Qui troverai solo le community registrate tu isamuni.
                  Gestisci una community? Crea la tua pagina dal tuo profilo.">Community</h1>
  </div>
  <div class="col-md-2">
    <% if current_user %>
      <%= link_to new_page_path, class: "btn btn-success" do %>
        <i class="fa fa-plus"></i> Community
      <% end %>
    <% end %>
  </div>
  <div class="col-md-6">
    <%= render partial: "search_form", locals: {res_path: communities_path, placeholder: "Ricerca community"}  %>
  </div>
</div>

<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th></th>
      <th>Nome</th>
      <th>Sede</th>
      <th>Ambito</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td>
          <img src="<%= page.pic 70 %>" class="img-fluid img-rounded">
        </td>
        <td><%= link_to page.name, page %></td>
        <td><%= page.location %></td>
        <td><%= page.sector %></td>
        <td>
          <%= link_to page.url, target: "_blank", class: "btn btn-primary btn-sm" do %>
            <i class="fa fa-external-link"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
