<%= form_for @user, :url => create_user_path(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :provider %><br>
    <%= f.text_field :provider %>
  </div>
  <div class="field">
    <%= f.label :uid %><br>
    <%= f.text_field :uid %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :oauth_token %><br>
    <%= f.text_field :oauth_token %>
  </div>
  <div class="field">
    <%= f.label :oauth_expires_at %><br>
    <%= f.datetime_field :oauth_expires_at %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :projects %><br>
    <%= f.text_area :projects %>
  </div>
  <div class="field">
    <%= f.label :links %><br>
    <%= f.text_area :links %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
