<%= form_for current_user, :url => update_user_path(current_user) do |f| %>
  <% if current_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(current_user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% current_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :projects %><br>
    <%= f.text_area :projects %>
  </div>
  <div class="field">
    <%= f.label :links %><br>
    <%= f.text_area :links %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
