<% content_for :head do %>
  <script type="text/javascript">
    $(document).on('ready',function(){
      initTypeahead('/users/typeahead', '/users/');
    });
  </script>
<% end %>

<div class="row">
  <div class="col-md-6">
    <h1>Utenti</h1>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= form_for @search, url:users_path, :method => "get" do |f| %>
        <div class="input-group">
          <%= f.search_field :name_like, class: 'typeahead form-control', autocomplete: 'off', placeholder: 'Ricerca utenti' %>
          <span class="input-group-btn">
            <%= button_tag type: "submit", class: "btn btn-primary", name: "" do %>
                <i class="fa fa-search"></i>
            <% end %>
            <%= link_to users_path, class: "btn btn-default", style: "background-color: #E0E0E0" do %>
              <i class="fa fa-refresh"></i>
            <% end %>
          </span>
        </div>
      <% end %>
    </div>
  </div>
</div>

<table class="table table-hover table-condensed" id="user-table">
  <thead>
    <tr>
      <th></th>
      <th>Nome</th>
      <th>Occupazione</th>
      <th>Tags</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= link_to user_path(user) do %>
          <img src="<%= user.profile_pic %>" class="img-fluid img-rounded">
          <% end %>
        </td>
        <td><%= link_to user.name, user %></td>
        <td><%= truncate(user.occupation, length: 40) if user.occupation %></td>
        <td><%= truncate(user.tags, length: 40) if user.tags %></td>
      </tr>
    <% end %>
  </tbody>
</table>
