<% content_for :scripts do %>
  <script type="text/javascript">
    $(document).on('ready',function(){
      initTypeahead('/users/typeahead', '/users/', true);
    });
  </script>
<% end %>

<div class="row">
  <div class="col-6">
    <h1>Utenti</h1>
  </div>
  <div class="col-6">
    <div class="form-group">
      <%= render partial: "search_form", locals: {res_path: users_path, placeholder: "Ricerca utenti"}  %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="tag-cloud-container">
      <% tag_cloud(@tags, ["cloud-tag cloud-tag-small","cloud-tag cloud-tag-medium","cloud-tag cloud-tag-big","cloud-tag cloud-tag-verybig"]) do |tag, css_class| %>
        <%= link_to "#{tag.name}(#{tag.taggings_count})", { :action => :index, :skills => tag.name }, :class => css_class %>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-12">
  <% if params[:skills] %>
    <h2>Utenti con conoscenze di "<%= params[:skills] %>"</h2>
  <% elsif params[:query] %>
    <h2>Ricerca per nome "<%= params[:query] %>"</h2>
  <% else %>
    <h2>Tutti gli utenti</h2>
  <% end %>
    <div id="list-users">
      <table class="table table-hover table-condensed" id="user-table" class="main-table">
        <thead>
          <tr>
            <th></th>
            <th>Nome</th>
            <th>Occupazione</th>
            <th>Tags</th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td class="image-column">
                <%= link_to user_path(user) do %>
                <img src="<%= user.profile_pic %>" class="img-rounded">
                <% end %>
              </td>
              <td><%= link_to user.name, user %></td>
              <td><%= truncate(user.occupation, length: 40) %></td>
              <td class="tags-column">
                <%= user.skills.collect{ |t| t.name }.join(", ") %> <%# solves n+1 queries problem, not referring to skills_list %>
            </tr>
          <% end %>
        </tbody>
    </table>
    </div>
  </div>
</div>

<% content_for :scripts do %>
<script>
/* global $, initTypeahead */
$(function(){
  $("#user-table").DataTable({
    autowidth: false,
    info: false,
    lengthChange: false,
    pageLength: 50,
    language: {
      "search": "Filtra:"
    },
    order: [1, "asc"],
    columnDefs: [
      { "orderable": false, searchable: false, "targets": [0, -1] }
    ],
    responsive: true
  });
})
</script>
<% end %>
