<p id="notice" class="text-success"><strong><%= notice %></strong></p>


<div class="row">
	<div class="col-4" data-intro="Scopri velocemente le info su questo utente.">
		<h1><%= @user.name %></h1>
		<p style="word-wrap: break-word;"><%= @user.occupation %></p>
		<p>
			<img src="<%= @user.profile_pic(250) %>" class="img-fluid img-rounded">
		</p>

		<% unless @user.skill_list.empty? %>
		<h4>Skills</h4>
		<p style="word-wrap: break-word;">
			<%= @user.skill_list.join(", ") %>
		</p>
		<% end %>

		<% if current_user && @user.id == current_user.id %>
			<div class="col-4 text-center">
			<%= link_to me_edit_user_url, class: "btn btn-success btn-md" do %>
				<i class="fa fa-pencil"></i> Modifica profilo
			<% end %>
			</div>
		<% end %>
		<% if @count > 12 %>
			<br><br>
			<div class="col-4 text-center">
				<%= link_to all_posts_path(@user), class: "btn btn-primary btn-md" do %>
					<i class="fa fa-eye"></i> Vedi tutti i post
				<% end %>
			</div>
		<% end %>
	</div>
	<div class="col-8" data-intro="Vuoi saperne di più? Leggi la descrizione di questo utente e i suoi progetti.">
		<div id="user-data">
			<% if @user.description.blank? and  @user.projects.blank? and @user.links.blank? %>
			<h4>Descrizione</h4>
			<p>Da riempire.. :)</p>
			<% end %> 

			<% unless @user.description.blank? %>
			<h4>Descrizione</h4>
			<%= markdown(@user.description) %>
			<% end %>

			<% unless @user.projects.blank? %>
			<h4>Progetti</h4>
			<%= markdown(@user.projects) %>
			<hr>
			<% end %>

			<% unless @user.links.blank? %>
			<h4>Collegamenti</h4>
			<%= markdown(@user.links) %>
			<% end %>
		</div>
	</div>
</div>
<hr>

<div id="user-feed-app"></div>

<% content_for :scripts do %>

<script type="text/javascript">
  var UserFeed = new Vue(App.UserFeed);
  UserFeed.$data.filter.author = "<%=raw @user.uid %>";
	UserFeed.$data.filter.limit = 12;
  UserFeed.$mount('#user-feed-app');
</script>

<% end %>