<p id="notice" class="text-success"><strong><%= notice %></strong></p>


<div class="row">
	<div class="col-12 col-md-4">
		<h1><%= @user.name %></h1>
		<p style="word-wrap: break-word;"><%= @user.occupation %></p>
		<p>
			<img src="<%= @user.profile_pic(250) %>" class="img-fluid img-rounded">
		</p>

		<% unless @user.skill_list.empty? %>
		<h4>Skills</h4>
		<p style="word-wrap: break-word;">
			<%= @user.skill_list.join(", ") %>
		</p>
		<% end %>

		<% if current_user && @user.id == current_user.id || true %>
			<%= link_to me_edit_user_url, class: "btn btn-success btn-md" do %>
				<i class="fa fa-pencil"></i> Modifica profilo
			<% end %>
		<% end %>

        <br><br>
        <div class="btn-group" role="group" aria-label="Basic example">
		<% if @count > 12 %>
			<%= link_to all_posts_path(@user), class: "btn btn-primary btn-md" do %>
				<i class="fa fa-eye"></i> Vedi tutti i post
			<% end %>
		<% end %>

            <button class="btn btn-dark btn-md" type="button" data-toggle="collapse" data-target="#pagesOwned" aria-expanded="false" aria-controls="pagesOwned">
               Pagine gestite
            </button>
        </div>

        <br><br>
        <div class="collapse" id="pagesOwned">
           <table class="table table-hover table-sm">
               <tbody>
                   <% @pages.each do |page| %>
                   <tr>
                       <td>
                       <% if page.pic %>
                           <img src="<%= page.pic 25 %>" class="img-fluid img-rounded" style="width: 25px">
                       <% else %>
                            <% if page.community? %>
                            <i class="fa fa-institution" style="font-size: 25px"></i><br>
                            <% else %>
                            <i class="fa fa-industry" style="font-size: 25px"></i><br>
                            <% end %>
                       <% end %>
                       </td>
                       <td><%= link_to page.name, page %></td>
                   </tr>
                <% end %>
                </tbody>
            </table>
        </div>

	</div>
	<div class="col-12 col-md-8">
		<div id="user-data">
			<% if @user.description.blank? and  @user.projects.blank? and @user.links.blank? %>
			<h4>Descrizione</h4>
			<p>Da riempire.. :)</p>
			<% end %>

			<% unless @user.description.blank? %>
			<h4>Descrizione</h4>
			<%= markdown(@user.description) %>
			<% end %>

			<% unless @user.projects.blank? %>
			<h4>Progetti</h4>
			<%= markdown(@user.projects) %>
			<hr>
			<% end %>

			<% unless @user.links.blank? %>
			<h4>Collegamenti</h4>
			<%= markdown(@user.links) %>
			<% end %>
		</div>
	</div>
</div>
<hr>

<div id="user-feed-app"></div>

<% content_for :scripts do %>

<script type="text/javascript">
  var UserFeed = new Vue(App.UserFeed);
  UserFeed.$data.filter.author = "<%=raw @user.uid %>";
	UserFeed.$data.filter.limit = 12;
  UserFeed.$mount('#user-feed-app');
</script>

<% end %>
