<p>
  <strong>Provider:</strong>
  <%= @user.provider %>
</p>

<p>
  <strong>Uid:</strong>
  <%= @user.uid %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @user.description %>
</p>

<p>
  <strong>Projects:</strong>
  <%= @user.projects %>
</p>

<p>
  <strong>Links:</strong>
  <%= @user.links %>
</p>

<p id="notice" class="text-success"><strong><%= notice %></strong></p>

<% if @user.uid == current_user.uid %>
  <%= link_to 'Edit', edit_user_path(@user) %>
<% end %>
