<h4>Benvenuti su <strong>Isamuni</strong>!</h4>

<p>
  Isamuni è un progetto che mira a supportare il panorama IT in Sicilia in due modi:
  <ul>
    <li>dando una panoramica delle aziende e community siciliane nell'ambito IT</li>
    <li>aggregando eventi e discussioni dalle varie community</li>
  </ul>
</p>

<p>
  Perchè <strong>isamuni</strong>? Isamuni è una parola Siciliana che significa <i>alziamoci</i>.
</p>

<div class="container">
  <blockquote>
    <p class="lead">La Sicilia è anche un insieme di realtà giovani, innovative e vibranti, che spesso hanno difficoltà a farsi conoscere, e non hanno il risalto che meritano. </p>
    <footer><i>da <a href="https://github.com/sic2/awesome-sicily">awesome-sicily</a></i></footer>
  </blockquote>
</div>

<p>
  Già con <strong>awesome-sicily</strong> abbiamo provato e stiamo tuttora provando a portare molte realtà Siciliane insieme e a conoscenza di altri. Con isamuni è giunto il momento di <i>alzarsi</i> e far conoscere ancor meglio le realtà legate alla tecnologia e l'innovazione.
</p>

<hr>
Su <strong>isamuni</strong> ci sono:
<ul style="list-style-type:none">
  <li>
    <a href="/companies"><i class="fa fa-industry"></i></a> <%= @companies_count %> aziende che si occupano di informatica
  </li>
  <li>
    <a href="/communities"><i class="fa fa-institution"></i></a> <%= @communities_count %> comunità
  </li>
  <li>
    <a href="/users"><i class="fa fa-users"></i></a> <%= @users_count %> studenti o professionisti nel campo
  </li>
  <li>
    <a href="/feed"><i class="fa fa-rss-square"></i></a> la scorsa settimana ci sono stati <%= @posts_count %> post nelle varie comunità tecniche (PAC - Facebook only)
  </li>
  <li>
    <a href="/events"><i class="fa fa-calendar"></i></a> <%= @upcoming_events_count %> eventi organizzati per le prossime tre settimane
  </li>
</ul>

<hr>

<p>Isamuni è attualmente mantenuto dalla community di <a href="https://www.facebook.com/groups/programmatoriCatania/">Programmatori a Catania (PAC)</a> ed un progetto <a href="https://github.com/sic2/isamuni">open-source (MIT)</a>, che può essere usato per iniziative simili.</p>
<strong>Come contribuire:</strong>
<ul>
  <li>Scrivendo del codice per la piattaforma</li>
  <li>Scoprendo dei bug</li>
  <li>Condividendo la piattaforma</li>
  <li>Donando dei soldi per supportare i server su cui viene eseguita la piattaforma</li>
</ul>
Ulteriori info <a href="https://github.com/sic2/isamuni/blob/master/CONTRIBUTING.md" target="_blank">qui</a> oppure via <a href="mailto:programmatori.a.catania+isamuni@gmail.com?Subject=Info%20Isamuni" target="_top">email</a>.
