<h2>Benvenuti a <strong>Isamuni</strong>!</h2>

<p>Isamuni è un progetto che mira a supportare il panorama IT in Sicilia in due modi:
  <ul>
    <li>dando una panoramica delle aziende e community siciliane nell'ambito IT</li>
    <li>aggregando eventi e discussioni dalle varie community</li>
  </ul>
</p>

<p>Isamuni è mantenuto dalla community di <a href="https://www.facebook.com/groups/programmatoriCatania/">Programmatori a Catania</a> ed un progetto <a href="https://github.com/sic2/isamuni">open-source (MIT)</a>, che può essere usato per iniziative simili.</p>

<p>
  I dati che raccogliamo sono disponibili tramite <a href="<%= opendata_path %>"> REST API</a>
</p>
<br>
Qualche statistica :) Su <strong>isamuni</strong> ci sono:
<ul style="list-style-type:none">
  <li>
    <a href="/companies"><i class="fa fa-industry"></i></a> <%= @companies_count %> aziende che si occupano di informatica
  </li>
  <li>
    <a href="/communities"><i class="fa fa-institution"></i></a> <%= @communities_count %> comunità
  </li>
  <li>
    <a href="/users"><i class="fa fa-users"></i></a> <%= @users_count %> studenti o professionisti nel campo
  </li>
  <li>
    <a href="/community_feed"><i class="fa fa-rss-square"></i></a> la scorsa settimana ci sono stati <%= @posts_count %> post nelle varie comunità tecniche (PAC - Facebook only)
  </li>
  <li>
    <a href="/events"><i class="fa fa-calendar"></i></a> <%= @upcoming_events_count %> eventi organizzati per le prossime tre settimane
  </li>
</ul>
