<div class="row">
  <div class="col-9">
    <div class="row">
      <div class="col-12">
        <h1>Isamuni</h1>
      </div>
    </div>
    <% if ENV['ISAMUNI_BETA_WARNING'] %>
    <div class="alert alert-info" role="alert">
      <h4 class="alert-heading">Attenzione: Questo è isamuni beta!</h4>
      <p class="mb-0">Questa versione di isamuni è online a scopo di testing, e i dati inseriti vengono periodicamente resettati. Visita <a href="http://www.isamuni.it" class="alert-link" >http://www.isamuni.it</a> per accedere alla versione stabile </p>
    </div>
    <% end %>
    <h4>
      Una panoramica sull'ambiente tech in Sicilia
    </h4>
    <hr>
    <p>
      Perchè <strong>Isamuni</strong>? <i>Isàmuni</i> è una parola Siciliana che significa <i>alziamoci</i>.
      Quindi, <strong>alziamoci</strong>!
    </p>
    <blockquote>
      <p class="lead">La Sicilia è anche un insieme di realtà giovani, innovative e vibranti, che spesso hanno difficoltà a farsi conoscere, e non hanno il risalto che meritano. </p>
      <footer><i>da <a href="https://github.com/sic2/awesome-sicily">awesome-sicily</a></i></footer>
    </blockquote>
  </div>
  <div class="col-3">
      <div class="row">
        <% if !current_user %>
        <%= link_to login_path, id: "sign_in", class: "btn btn-success" do %>
          <i class="fa fa-sign-in"></i> Login/Registrati
        <% end %>
        <% end %>
      </div>
      <br>
      <%= image_tag 'logo-300ppi.png', width:"300", alt: "isamuni logo" %> <!-- TODO use css for defining logo size -->
  </div>
</div>
<hr>
<div class="row">
  <div class="col-1">
  </div>
  <div class="col-2 home-section-link">
    <a href="/companies">
      <i class="fa fa-industry fa-3x"></i><br>
      <big><%= @companies_count %></big> Aziende
    </a>
  </div>
  <div class="col-2 home-section-link">
    <a href="/communities">
      <i class="fa fa-institution fa-3x"></i><br>
      <big><%= @communities_count %></big> Community
    </a>
  </div>
  <div class="col-2 home-section-link">
    <a href="/users">
      <i class="fa fa-users fa-3x"></i><br>
      <big><%= @users_count %></big> Utenti
    </a>
  </div>
  <div class="col-2 home-section-link">
    <a href="/feed">
      <i class="fa fa-rss-square fa-3x"></i><br>
      <big><%= @posts_count %></big> Post
    </a>
  </div>
  <div class="col-2 home-section-link">
    <a href="/events">
      <i class="fa fa-calendar fa-3x"></i><br>
      <big><%= @upcoming_events_count %></big> Prossimi eventi
    </a>
  </div>
  <div class="col-1">
  </div>
</div>

<hr>

<div data-intro="Aiutaci a far crescere isamuni.">
  <p>
      Puoi leggere <a href="https://docs.google.com/presentation/d/11mpmVVwxWYvVaMCGfrpNLSxiUXJTXd-bq7C0OBQFZFw/edit?usp=sharing">qui</a> una presentazione del progetto.
  </p>
  <p>
      Isamuni è un progetto no-profit mantenuto da <a href="https://github.com/sic2">sic2</a> e <a href="https://github.com/vigliag">vigliag</a>.
      Isamuni è open-source (MIT) e disponibile su <a href="https://github.com/sic2/isamuni">github</a>.
      Puoi contattarci tramite il gruppo FB <a href="https://www.facebook.com/groups/programmatoriCatania/">PAC</a>, via <a href="https://telegram.me/joinchat/Bk1QGAlK-ZUJ0ZidWo4CYA" target="_top">telegram</a> o via
      <a href="mailto:programmatori.a.catania+isamuni@gmail.com?Subject=Info%20Isamuni" target="_top">e-mail</a>.
  </p>
</div>
