<%= form_for [:me, @page], :html => { :id => "update_page_form" } do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h3>Alcuni errori hanno impedito alla pagina di essere salvata</h3>
      <ul>
      <% @page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-2">
      <div class="form-group">
        <%= f.select :kind, Page.kinds.keys.to_a, {}, {class: "form-control"} %>
      </div>
    </div>
    <div class="col-md-2">
      Dipendenti
    </div>
    <div class="col-md-2">
      <div class="form-group">
          <%= f.select :no_employees, ['n/a', '1-10', '11-25', '26-50', '51-100', '101-1000', '1000+'], {}, {class: "form-control"} %>
      </div>
    </div>
  </div>

  <div class="form-group">
      <%= f.label :name, "Nome" %><br>
    <%= f.text_field :name , class: "form-control", placeholder: 'Nome' %>
  </div>

  <div class="form-group">
    <%= f.label :location, "Sede" %><br>
    <%= f.text_field :location , class: "form-control", placeholder: 'Sede' %>
  </div>

  <div class="form-group">
    <%= f.label :province, "Provincia (per esteso)" %><br>
    <%= f.text_field :province , class: "form-control", placeholder: 'Provincia' %>
  </div>

  <div class="form-group">
    <%= f.label :website, "Sito web (http://...)" %><br>
    <%= f.text_field :website, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :website, "Sito web (http://...)" %><br>
    <%= f.text_field :website, class: "form-control" %>
  </div>

  <div class="form-group">
    Altri collegamenti<br>
    <%= f.text_field :links, class: "form-control" %>
  </div>

  <div class="row">
    <div class="col-md-6">
        <div class="form-group">
          Facebook Page (e.g. https://www.facebook.com/example/)<br>
          <%= f.text_field :fbpage, class: "form-control" %>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
          Twitter Page (e.g. @DevsCT)<br>
          <%= f.text_field :twitterpage, class: "form-control" %>
        </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Settore/Area" %><br>
    <%= f.text_field :sector, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "Descrizione" %><br>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "Contatti" %><br>
    <%= f.text_area :contacts , class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "In cerca di" %><br>
    <%= f.text_area :lookingfor, class: "form-control" %>
  </div>
  <br>
  <div class="form-group">
    <%= button_tag(type: 'submit', class: "btn btn-success") do %>
      <i class="fa fa-save"></i> Salva
    <% end %>
  </div>
<% end %>
<br>

<script>
  var fields = document.querySelectorAll('textarea');
  for (var i = 0; i < fields.length; ++i) {
    var item = fields[i];
    var simplemde = new SimpleMDE({ element: item, spellChecker: false });
  }

  $( "#page_kind" )
    .change(function () {
      var page_kind = $('#page_kind').find(":selected").text();
      if (page_kind === 'community') {
        $("#page_no_employees").prop("disabled", true);
        $("#page_no_employees").val($("#page_no_employees option:first").val());
      } else {
        $("#page_no_employees").prop("disabled", false);
      }
    })
    .change();

  $('#update_page_form').validate({
        rules: {
            "page[url]": {
                required: true,
                url: true
            },
            "page[sector]": {
                required: true,
            }
        }
    });
</script>
