<table class="table table-hover table-condensed" id="users-table">
  <thead>
    <tr>
      <th></th>
      <th>Nome</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% users.each do |user| %>
      <tr>
        <td>
          <%= link_to user_path(user) do %>
          <img src="<%= user.profile_pic %>" class="img-fluid img-rounded">
          <% end %>
        </td>
        <td><%= link_to user.name, user %></td>
        <td>
          <% if user.banned %>
            <button id="state-user" data-user-id="<%= user.id %>" class="btn btn-outline-success activate-user-btn btn-sm">Un-Ban</button>
          <% else %>
            <button data-user-id="<%= user.id %>" class="btn btn-outline-warning deactivate-user-btn btn-sm">Ban</button>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
  $(document).on('ready', function(){
    $("#users-table").on("click", ".deactivate-user-btn", function () {
      var $this = $(this);
      var userid = $this.attr("data-user-id");

      $.ajax({
        url: "/admin/ban_user",
        type: 'PUT',
        data: {
          userid: userid
        }
      }).done(function () {
        $this.text("Un-Ban").removeClass("btn-outline-warning deactivate-user-btn").addClass("btn-outline-success activate-user-btn");
      }).fail(function (e) {
        console.log("errore" + e);
      })
    });

    $("#users-table").on("click", ".activate-user-btn", function () {
      var $this = $(this);
      var userid = $this.attr("data-user-id");

      $.ajax({
        url: "/admin/unban_user",
        type: 'PUT',
        data: {
          userid: userid
        }
      }).done(function () {
        $this.text("Ban").removeClass("btn-outline-success activate-user-btn").addClass("btn-outline-warning deactivate-user-btn");
      }).fail(function (e) {
        console.log("Error: " + e);
      })
    });
  });
</script>
