<table class="table table-hover table-condensed" id="user-table">
  <thead>
    <tr>
      <th></th>
      <th>Nome</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% users.each do |user| %>
      <tr>
        <td>
          <%= link_to user_path(user) do %>
          <img src="<%= user.profile_pic %>" class="img-fluid img-rounded">
          <% end %>
        </td>
        <td><%= link_to user.name, user %></td>
        <td>
          <button data-user-id="<%= user.id %>" class="btn btn-outline-warning ban-page-btn btn-sm">BAN</button>
        </td>
        <td>
          <button id="delete-user" data-user-id="<%= user.id %>" class="btn btn-outline-danger delete-user-btn btn-sm">Delete</button>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
