<h2>Admin</h2>

Questa pagina e' accessibile solo agli admin e puo' essere usata per:
<ul>
  <li>Attivare/Deattivare e Cancellare le <a href='#pages'>pagine</a></li>
  <li>Cancellare <a href='#events'>eventi</a></li>
  <li>Cancellare <a href='#posts'>posts</a> e cambiare le categoria dei posts (e.g. se un post non e' un annuncio di lavoro)</li>
  <li>Cancellare/Bannare <a href='#users'>utenti</a></li>
</ul>

<h3 id='pages'>Pages</h3>
<%= render partial: "pagestable", locals: {pages: @pages} %>
<%= will_paginate @pages, param_name: :page_page %>

<h3 id='users'>Users</h3>
<%= render partial: "userstable", locals: {users: @users} %>
<%= will_paginate @users, param_name: :user_page %>

<h3 id='events'>Events</h3>
<%= render partial: "eventstable", locals: {events: @events} %>
<%= will_paginate @events, param_name: :event_page %>

<h3 id='posts'>Posts</h3>
<%= render partial: "poststable", locals: {posts: @posts} %>
<%= will_paginate @posts, param_name: :post_page %>
