<% content_for :head do %>

<script type="text/javascript">
  $(document).on('ready', function(){
    $("#pages-table").on("click", ".deactivate-page-btn", function () {
      var $this = $(this);
      var pageid = $this.attr("data-page-id");

      $.ajax({
        url: "/admin/make_page_inactive",
        type: 'PUT',
        data: {
          pageid: pageid
        }
      }).done(function () {
        $this.text("Activate").removeClass("btn-outline-warning deactivate-page-btn").addClass("btn-outline-success activate-page-btn");
      }).fail(function (e) {
        console.log("errore" + e);
      })
    });

    $("#pages-table").on("click", ".activate-page-btn", function () {
      var $this = $(this);
      var pageid = $this.attr("data-page-id");

      $.ajax({
        url: "/admin/make_page_active",
        type: 'PUT',
        data: {
          pageid: pageid
        }
      }).done(function () {
        $this.text("Deactivate").removeClass("btn-outline-success activate-page-btn").addClass("btn-outline-warning deactivate-page-btn");
      }).fail(function (e) {
        console.log("Error: " + e);
      })
    });

    $("#pages-table").on("click", ".delete-page-btn", function () {
      var $this = $(this);
      var pageid = $this.attr("data-page-id");

      $.ajax({
        beforeSend: function (request) {
          if (!confirm('Are you sure?')) {
            return false;
          }
        },

        url: '/admin/delete_page?' + $.param({pageid: pageid}),
        type: 'DELETE'
      }).done(function () {
        var $row = $this.parent().parent();
        $row.fadeOut(1000, function () {
          $row.remove();
        });
      }).fail(function (e) {
        console.log("Error: " + e);
      });
    });
  });
</script>

<% end %>

<h2>Admin</h2>

Questa pagina e' accessibile solo agli admin e puo' essere usata per:
<ul>
  <li>Attivare/Deattivare e Cancellare le <a href='#pages'>pagine</a></li>
  <li>Cancellare <a href='#events'>eventi</a></li>
  <li>Cancellare <a href='#posts'>posts</a> e cambiare le categoria dei posts (e.g. se un post non e' un annuncio di lavoro)</li>
  <li>Cancellare/Bannare <a href='#users'>utenti</a></li>
</ul>

<h3 id='pages'>Pages</h3>
<%= render partial: "pagestable", locals: {pages: @pages} %>
<%= will_paginate @pages, param_name: :page_page %>

<h3 id='users'>Users</h3>
<%= render partial: "userstable", locals: {users: @users} %>
<%= will_paginate @users, param_name: :user_page %>

<h3 id='events'>Events</h3>
<%= render partial: "eventstable", locals: {events: @events} %>
<%= will_paginate @events, param_name: :event_page %>

<h3 id='posts'>Posts</h3>
<%= render partial: "poststable", locals: {posts: @posts} %>
<%= will_paginate @posts, param_name: :post_page %>

<br>
