<% if notice %>
<p id="notice" class="alert alert-info" role="alert">
  <%= notice %>
</p>
<% end %>

<div class="row">
    <div class="col-12 col-md-8">
        <h1>WikIsamuni!</h1>
    </div>
    <div class="col-12 col-md-4">
        <% if current_user %>
          <%= link_to new_wikipage_path, class: "btn btn-success" do %>
            <i class="fa fa-plus"></i> Pagina Wiki
          <% end %>
        <% end %>
    </div>
</div>

<p>
  Benvenuto nel wiki interno di isamuni. Questa wiki consiste di pagine "libere",
  che non descrivono aziende o community.
</p>
<p>
  Per editare le pagine nel wiki devi avere i permessi di editor. Contattaci a
  vigliag@gmail.com o simone.ivan.conte@gmail.com. Saremo felici di abilitare
  il tuo account.
</p>

<table class="table table-striped table-hover table-condensed">
  <thead>
    <tr>
      <th>Nome Pagina</th>
      <th>Slug</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wikipages.each do |wikipage| %>
      <tr>
        <td><%= wikipage.name %></td>
        <td><%= wikipage.slug %></td>
        <td><%= link_to 'Vedi', wikipage %></td>
        <td><%= link_to 'Modifica', edit_wikipage_path(wikipage) %></td>
        <td><%= link_to 'Cancella', wikipage, method: :delete, data: { confirm: 'Sei sicuro di voler cancellare la pagina?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
