<% if notice %>
<p id="notice" class="alert alert-info" role="alert">
  <%= notice %>
</p>
<% end %>

<div class="row">
    <div class="col-12 col-md-8">
        <div id="wikisamuni_header">
          <h2><a href="<%= wikipages_url%>">WikIsamuni</a> > <%= @wikipage.name %></h2>
        </div>
    </div>
    <div class="col-12 col-md-4">
        <%= link_to edit_wikipage_path(@wikipage), class: "btn btn-success" do %>
          <i class="fa fa-pencil"></i> Modifica
        <% end %>
    </div>
</div>

<br>

<div id="wiki-content">
  <%= markdown_wiki(@wikipage.content) %>
</div>
