<p id="notice"><%= notice %></p>

<div id="wikisamuni_header">
  <h1><a href="<%= wikipages_url%>">WikIsamuni</a> > <%= @wikipage.name %></h1>
</div>

<div id="wiki-content">
  <%= markdown(@wikipage.content) %>
</div>

<%= link_to 'Edit', edit_wikipage_path(@wikipage) %> |
<%= link_to 'Back', wikipages_path %>
